@namespace TailsBlazor
@inherits TailsInputFieldBase<T>
@typeparam T

<div>
    <input id="@FieldIdentifier.FieldName" @bind="@FormattedValue" @oninput="HandleInput" class="@Classes"
        style="@Style" @onfocus="@OnFocus" @onblur="@HandleBlur" placeholder="@Placeholder" disabled="@Disabled"
        type="@FieldType.GetFieldType()" />
    @if (For is not null)
    {
        <ValidationMessage For="@For" class="validation-message" />
    }
</div>