@namespace TailsBlazor
@inherits TailsButtonBase

<button class="@_classes" style="@Style" @onclick="OnClick" type="@ButtonType" @onfocus="@OnFocus"
    @onfocusout="@OnUnfocus">
    @ChildContent
</button>